* {
  margin: 0px;
  padding: 0px auto;
}

.link:hover{
  color: #624E88;
}
.bgelement {
  background-image: url(./assets/dotpattern.jpg);
}
.border-bottom{
  border-bottom: 5px solid #624E88;
}